# Dependencies
node_modules/
package-lock.json

# Environment variables and secrets
.env
.env.*
*.env
.env.local
.env.development
.env.production

# System files
.DS_Store
.netlify/
dist/

# Logs
*.log
npm-debug.log*
